#comics {
    background-color: $dark-gray;
    color: $white;
    .container {
        position: relative;
        top: -26px;
    }
    h2 {
        padding: 10px 15px;
        background-color: $main-color;
        display: inline-block;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-content: center;
        padding: 50px 0;
    }

    .col {
        width: calc(100% / 6);
        display: flex;
        align-items: center;
        flex-direction: column;
        min-height: 250px;
        color: $white;

        h3 {
            font-size: 1.2rem;
            text-align: center;
            margin-bottom: 20px;
            margin-top: 10px;
        }
    }
}
