@import url(https://fonts.googleapis.com/css2?family=Nunito:ital,wght@0,200;0,300;0,400;0,600;0,700;1,200;1,300;1,400;1,600;1,700&display=swap);* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Nunito", sans-serif;
}

a {
  text-decoration: none;
}
a:hover {
  text-decoration: none;
}

.container {
  max-width: 1400px;
  margin: 0 auto;
}

.w-50 {
  width: 50%;
}

.load-more {
  display: flex;
  justify-content: center;
  align-items: center;
}
.load-more a {
  color: white;
  padding: 10px 15px;
  background-color: #0282f9;
  font-size: 20px;
  font-weight: bold;
}

header .header-top {
  background-color: #0282f9;
  color: white;
  font-size: 14px;
  font-weight: bold;
}
header .header-top .container {
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
header .header-top .container div {
  padding: 10px;
  padding-left: 20px;
}
header .header-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 0;
  height: 100px;
}
header .header-nav img {
  height: 100%;
}
header .header-nav ul {
  display: flex;
  align-items: center;
  justify-content: center;
}
header .header-nav ul li {
  list-style-type: none;
}
header .header-nav ul li a {
  display: inline-block;
  color: #000000;
  font-weight: bold;
  line-height: 100px;
  padding: 0 15px;
  position: relative;
}
header .header-nav ul li a:hover:after {
  content: "";
  height: 5px;
  width: 100%;
  background-color: #0282f9;
  position: absolute;
  bottom: 0;
  left: 0;
}
header .header-nav ul li a:hover {
  color: #0282f9;
}
header .header-nav .fas {
  color: #0282f9;
}
header .header-nav .search {
  border-bottom: 2px solid #0282f9;
}
header .header-nav .search input {
  border: none;
  padding: 5px;
  text-align: right;
}
header .header-nav .search input:focus-visible {
  outline: none;
}
header .header-jumbo {
  height: 500px;
  background-image: url("../images/jumbotron.jpg");
  background-size: cover;
  background-position: top center;
  background-repeat: no-repeat;
}

footer {
  background-image: url("../images/footer-bg.jpg");
  background-size: cover;
}
footer .container {
  display: flex;
  align-items: center;
  height: 600px;
  color: white;
}
footer .container div.links {
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-content: space-around;
  max-height: 100%;
}
footer .container div.links > div {
  margin: 15px 0;
}
footer .container div.links > div h3 {
  margin: 10px 0;
}
footer .container div.links li {
  list-style-type: none;
  margin: 10px 0;
}
footer .container div.links a {
  color: #8d8d8d;
}
footer .container figure {
  background-image: url("../images/dc-logo-bg.png");
  height: 100%;
  background-size: cover;
  background-position: center;
}

#comics {
  background-color: #1c1c1c;
  color: white;
}
#comics .container {
  position: relative;
  top: -26px;
}
#comics h2 {
  padding: 10px 15px;
  background-color: #0282f9;
  display: inline-block;
}
#comics .row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  padding: 50px 0;
}
#comics .col {
  width: 16.6666666667%;
  display: flex;
  align-items: center;
  flex-direction: column;
  min-height: 250px;
  color: white;
}
#comics .col h3 {
  font-size: 1.2rem;
  text-align: center;
  margin-bottom: 20px;
  margin-top: 10px;
}

#comic .poster {
  background-color: #0282f9;
}
#comic .poster .container {
  height: 75px;
  position: relative;
}
#comic .poster .container img {
  position: absolute;
  top: -250px;
  border: 1px solid white;
}
#comic .description {
  display: flex;
  padding: 100px 0;
}
#comic .description .comic-desc {
  flex-basis: 70%;
}
#comic .description .comic-desc h1 {
  color: #2d98fc;
  margin-bottom: 30px;
}
#comic .description .comic-desc .price-bar {
  background-color: lightgreen;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
#comic .description .comic-desc .price-bar .price-info {
  padding: 20px 10px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-grow: 1;
}
#comic .description .comic-desc .price-bar .avbl-check {
  padding: 20px 10px;
  border-left: 1px solid #8d8d8d;
}
#comic .description .comic-desc p {
  margin: 10px 0;
}
#comic .description .adv {
  flex-basis: 30%;
}
#comic .description .adv .advertisement {
  text-align: right;
}
#comic .description .adv img {
  width: 100%;
}
#comic .comic-info {
  background-color: #fff7e9;
}
#comic .comic-info .info {
  display: flex;
}
#comic .comic-info .info .talent {
  width: 50%;
  padding: 20px 20px;
}
#comic .comic-info .info .talent h2 {
  color: #2d98fc;
}
#comic .comic-info .info .talent .artists {
  border-top: 1px solid #8d8d8d;
}
#comic .comic-info .info .talent .artists,
#comic .comic-info .info .talent .writers {
  margin-top: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #8d8d8d;
  display: flex;
  justify-content: space-between;
}
#comic .comic-info .info .talent .artists h3,
#comic .comic-info .info .talent .writers h3 {
  width: 40%;
}
#comic .comic-info .info .specs {
  width: 50%;
  padding: 20px 20px;
}
#comic .comic-info .info .specs h2 {
  color: #2d98fc;
}
#comic .comic-info .info .specs .series,
#comic .comic-info .info .specs .us-price {
  border-top: 1px solid #8d8d8d;
}
#comic .comic-info .info .specs .series,
#comic .comic-info .info .specs .us-price,
#comic .comic-info .info .specs .sales {
  margin-top: 20px;
  padding: 20px 0;
  border-bottom: 1px solid #8d8d8d;
  display: flex;
  justify-content: space-between;
}
#comic .comic-info .info .specs .series h3,
#comic .comic-info .info .specs .us-price h3,
#comic .comic-info .info .specs .sales h3 {
  width: 40%;
}